body {
    margin: 0;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.card {
    width: 320px;
    background-color: #fffdfd;
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.card h2 {
    margin: 10px 0 8px;
    font-size: 20px;    
}
.card p {
    font-size: 15px;
    color: #000000;
}
.ig-link {
    font-size: 28px;
    color: #E1306C; 
    text-decoration: none;
}

.ig-link:hover {
    color: #C13584;
}
.ig-link img {
    width: 30px;
    height: 30px;
}